In [1]:
import pathlib

import pandas as pd
import sqlalchemy

In [2]:
# Load MySQL password from file
with open('../mysql_password.txt') as f:
    password = f.readline().strip()
    
engine = sqlalchemy.create_engine(f"mysql+mysqlconnector://mnz2108:{password}@localhost/effect_nsides")

## Create table indicies

In [3]:
engine.execute('CREATE INDEX drugid ON OFFSIDES(drug_concept_id);')
engine.execute('CREATE INDEX conditionid ON OFFSIDES(condition_concept_id);')
engine.execute('SHOW INDEX FROM OFFSIDES;').fetchall()

[('OFFSIDES', 1, 'drugid', 1, 'drug_concept_id', 'A', 2746, None, None, 'YES', 'BTREE', '', ''),
 ('OFFSIDES', 1, 'conditionid', 1, 'condition_concept_id', 'A', 17560, None, None, 'YES', 'BTREE', '', '')]

In [4]:
engine.execute('CREATE INDEX idindex ON CONDITION_CONCEPT(condition_concept_id)')
engine.execute('SHOW INDEX FROM CONDITION_CONCEPT;').fetchall()

[('CONDITION_CONCEPT', 1, 'idindex', 1, 'condition_concept_id', 'A', 17552, None, None, 'YES', 'BTREE', '', '')]

In [5]:
engine.execute('CREATE INDEX idindex ON DRUG_CONCEPT(drug_concept_id)')
engine.execute('SHOW INDEX FROM DRUG_CONCEPT;').fetchall()

[('DRUG_CONCEPT', 1, 'idindex', 1, 'drug_concept_id', 'A', 3453, None, None, 'YES', 'BTREE', '', '')]

In [6]:
engine.execute('CREATE INDEX drug1id ON TWOSIDES(drug_concept_id_1);')
engine.execute('CREATE INDEX drug2id ON TWOSIDES(drug_concept_id_2);')
engine.execute('CREATE INDEX conditionid ON TWOSIDES(condition_concept_id);')
engine.execute('SHOW INDEX FROM TWOSIDES;').fetchall()

[('TWOSIDES', 1, 'drug1id', 1, 'drug_concept_id_1', 'A', 1716, None, None, 'YES', 'BTREE', '', ''),
 ('TWOSIDES', 1, 'drug2id', 1, 'drug_concept_id_2', 'A', 1841, None, None, 'YES', 'BTREE', '', ''),
 ('TWOSIDES', 1, 'conditionid', 1, 'condition_concept_id', 'A', 17552, None, None, 'YES', 'BTREE', '', '')]

## Join and filter tables to create flat files

In [7]:
extract_dir = pathlib.Path('../data/flat_files/')
extract_dir.mkdir(exist_ok=True)

In [8]:
tables = engine.execute('SHOW TABLES;').fetchall()
tables = [tup[0] for tup in tables]

tables

['CONDITION_CONCEPT',
 'CONDITION_OCCURRENCE',
 'DRUG_CONCEPT',
 'DRUG_EXPOSURE',
 'OFFSIDES',
 'REPORT',
 'TWOSIDES']

In [9]:
offsides_iterator = pd.read_sql("""
SELECT rxnorm_concept_id AS drug_rxnorn_id,
       drug_concept_name,
       condition_meddra_id,
       condition_concept_name,
       A,
       B,
       C,
       D,
       PRR,
       PRR_error,
       mean_reporting_frequency
FROM   (SELECT *
        FROM   OFFSIDES
        WHERE  A > 0 AND PRR > 0.1) ofsd
       JOIN DRUG_CONCEPT
         ON ofsd.drug_concept_id = DRUG_CONCEPT.drug_concept_id
       JOIN CONDITION_CONCEPT
         ON ofsd.condition_concept_id = CONDITION_CONCEPT.condition_concept_id;
""", con=engine, chunksize=100_000)

header = True
for chunk in offsides_iterator:
    chunk.to_csv(extract_dir.joinpath('OFFSIDES.csv.xz'), index=False, compression='xz',
                 header=header, mode='a')
    header = False

chunk.head(2)

,drug_rxnorn_id,drug_concept_name,condition_meddra_id,condition_concept_name,A,B,C,D,PRR,PRR_error,mean_reporting_frequency
0,114970,zafirlukast,10024910,Low density lipoprotein increased,1,1221,9,12211,1.11111,1.05367,0.000818
1,114970,zafirlukast,10024592,Lipids increased,1,1221,5,12215,2.00000,1.09503,0.000818

In [9]:
twosides_iterator = pd.read_sql("""
SELECT d1.rxnorm_concept_id AS drug_1_rxnorn_id,
       d1.drug_concept_name AS drug_1_concept_name,
       d2.rxnorm_concept_id AS drug_2_rxnorm_id,
       d2.drug_concept_name AS drug_2_concept_name,
       condition_meddra_id,
       condition_concept_name,
       A,
       B,
       C,
       D,
       PRR,
       PRR_error,
       mean_reporting_frequency
FROM   (SELECT *
        FROM   TWOSIDES
        WHERE  A > 0 AND PRR > 0.1) twsd
       JOIN DRUG_CONCEPT AS d1
         ON twsd.drug_concept_id_1 = d1.drug_concept_id
       JOIN DRUG_CONCEPT AS d2
         ON twsd.drug_concept_id_2 = d2.drug_concept_id
       JOIN CONDITION_CONCEPT
         ON twsd.condition_concept_id = CONDITION_CONCEPT.condition_concept_id;
""", con=engine, chunksize=100_000)

header = True
for chunk in twosides_iterator:
    chunk.to_csv(extract_dir.joinpath('TWOSIDES.csv.xz'), index=False, compression='xz',
                 header=header, mode='a')
    header = False

chunk.head(2)

,drug_1_rxnorn_id,drug_1_concept_name,drug_2_rxnorm_id,drug_2_concept_name,condition_meddra_id,condition_concept_name,A,B,C,D,PRR,PRR_error,mean_reporting_frequency
0,19484,Bisoprolol,114979,rabeprazole,10000636,Activated partial thromboplastin time prolonged,3,446,5,4485,6.00000,0.728617,0.006682
1,19484,Bisoprolol,114979,rabeprazole,10022595,International normalised ratio increased,10,439,15,4475,6.66667,0.405237,0.022272